# =========================
# Entornos virtuales
# =========================
.venv/
venv/
ENV/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Datos pesados / reales
# =========================
data/

# =========================
# Modelos entrenados
# =========================
models/*.pkl

# =========================
# Resultados y outputs
# =========================
results/
*.png

# =========================
# Configuración sensible
# =========================
.env
.DS_Store

# =========================
# Logs
# =========================
logs/

# =========================
# IDEs
# =========================
.vscode/
.idea/